.resume-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.page-title {
        font-size: 30;
        margin-left: 80px;
        margin-top: 75px;

    }
}

.resumeButton {
    font-size: 24px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    
    h4 {
        color: rgb(41, 134, 70);
        font-size: 18px;
        opacity: 0.6;
        font-family: 'La Belle Aurore', cursive;
    }

    a {
        margin: 20px 30px 30px 30px;

        button {
            background-color: #8d8d8d;
            color: white;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            font-family: 'Courier New', Courier, monospace;
            border: 2px solid ;
            border-radius: 4px;
            animation: fadeIn 1s 1.9s backwards;

            &:hover {
                background: rgb(41, 134, 70);
                color: #333
            }
        }

    }
}




